<div class="container">
  <div class="text-left" style="color:#f4f4f4;font-size:20px;font-weight:bold;">

    <h1></h1>
    <p>系统基于国科大研究生课程(高级软件工程)开发的项目</p>
    <p>主要实现功能:</p>
    <ul>

      <li >
        处理选课冲突、控制选课人数
      </li>
      <li >
        统计选课学分,增加选课的开放、关闭功能
      </li>
      <li >
        自定义管理员后台
      </li>
      <li >
        学分统计
      </li>
    </ul>
    <p>团队成员:</p>
    <ul>

      <li >
        韩雪松
      </li>
      <li >
        周聪
      </li>
      <li >
        王晓杰
      </li>
    </ul>

  </div>


</div>
